body {
    text-align: center;
    font-size: 3rem;
    background-color: black;
    /* color: #d9c27e; */
    color: #90c040;
}

.heading {
    width: 100%;
    height: 200px;
    margin-top: -137px;
}

h1 {
    transform: translate(0%, 30%);
    font-family: initial;
    font-weight: bold;
    text-shadow: 5px 5px 5px #000000;
}

.top {
    position: relative;
    width: 100%;
    height: 100px;
    transform: translate(0%, -35%);
    z-index: 1;
}

.nav-wrapper {
    color: black;
    display: inline-flex;
    list-style-type: none;
}

.raids {
    position: relative;
    margin-right: 250px;
    font-size: 30px;
    z-index: 2;
}

.bossing {
    position: relative;
    margin-right: 250px;
    font-size: 30px;
    z-index: 2;
}

.skills {
    position: relative;
    font-size: 30px;
    z-index: 2;
}

nav ul a {
    color: black;
    transform: translate(0%, -204%);
    background-color: unset;
}

.no-nav {
    background: transparent;
}